body {
  background: hsl(0, 0%, 95%);
  width: 100%;
  min-height: 100vh;
  font-size: .825em;
  font-family: 'Lexend Deca', sans-serif;
  position: relative;
}

main {
  width: 60rem;
  height: 50vh;
  margin: 0 auto;
  color: hsla(0, 0%, 100%, .75);
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-1-3 {
  width: 33.3%;
}

.car-about {
  width: 70%;
  margin: auto;
  padding: 2em;
  position: relative;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.car-about > img {
  width: auto;
  height: 10%;
  padding-bottom: 1em;
}

.car-about > h2 {
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
  width: auto;
  height: 10%;
  padding-bottom: .5em;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
}

.car-about > p {
  width: auto;
  height: 65%;
  line-height: 1.5em;
  padding-bottom: 3.0em;
}

.car-about > input {
  cursor: pointer;
  border-radius: 20px;
  padding: 1em 3.5em;
  font-family: 'Lexend Deca', sans-serif;
}

.sedan input {
  color:  hsl(31, 77%, 52%);
  border: 1px solid hsl(31, 77%, 52%);
}

.suv input {
  color: hsl(184, 100%, 22%);
  border: 1px solid hsl(184, 100%, 22%);
}

.luxury input {
  color: hsl(179, 100%, 13%);
  border: 1px solid hsl(179, 100%, 13%);
}

@media (max-width: 992px) {
  main {
    width: 45rem;
  }

  .car-about {
    padding: 1.0em;
  }

  .car-about > h2 {
    font-size: 3.0em;
  }

  .car-about > input {
    padding: .75em 2.5em;
  }
}

@media (max-width: 768px) {
  main {
    width: 23rem;
    flex-direction: column;
    margin: auto;
  }

  .container-1-3 {
    width: 100%;
    padding: 0;
  }

  .car-about > img {
    height: 15%;
  }

  .car-about > p {
    height: 30%;
  }

  .sedan {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }

  .luxury {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

@media (max-width: 375px) {
  main {
    width: 20rem;
  }

  .container-1-3 {
    padding: 0;
  }

  .car-about {
    width: 75%;
    margin: 0 auto;
  }

  .car-about > h2 {
    font-size: 2.5em;
  }

  .car-about {
    font-size: .75em;
  }

  .car-about > p {
    width: auto;
    line-height: 2.0em;
  }

  .car-about > input {
    padding: .5em 2.0em;
  }
}